<div class="fl-tab">
    <form class="search" name="formcx" id="formcx" action="u_index.asp">
        <a href="u_index.asp"><span class="on">全部信息</span></a>
        <a href="u_index.asp?ctype=1"><span>删除的信息</span></a>
        <select name="cateid" id="" class="fr sele" onchange="formSubmit()">
            <option value="0">按类别查询</option>
            <option value="1">房屋出租</option>
            <option value="2">房屋出售</option>
            <option value="3">店铺转让</option>
            <option value="4">房屋求购</option>
            <option value="5">房屋求租</option>
            <option value="7">车辆买卖</option>
            <option value="9">宠物世界</option>
            <option value="10">同城交友</option>
        </select>
    </form>
</div>