<div class="tybottom">
    <div id="xgnr">
        <div class="xgbk">
            <div class="xgwz"><a href="{$footerData['siteUrl']}/" target="_blank">{$footerData['siteUrl']}/</a></div>
            <div class="xgxx"><a href="{$footerData['siteUrl']}/about.asp" target="_blank" rel="nofollow">关于本站</a> | <a href="{$footerData['siteUrl']}/link.asp" target="_blank">友情链接</a> | <a href="{$footerData['siteUrl']}/map.html" target="_blank">网站地图</a> | <a href="{$footerData['siteUrl']}/job.asp" target="_blank" rel="nofollow">招聘信息</a> | <a href="{$footerData['siteUrl']}/ad/" target="_blank" rel="nofollow">广告服务</a> | <a href="{$footerData['siteUrl']}/notic.asp" target="_blank" rel="nofollow">联系留言</a> | <a href="{$footerData['siteUrl']}/copyright.asp" target="_blank" rel="nofollow">版权/隐私</a> | <a href="{$footerData['siteUrl']}/tousu.asp" target="_blank">举报投诉 </a> | <a href="http://www.china.ccoo.cn/" target="_blank">城市联盟</a></div>
        </div>
        <div class="xgyy"></div>
    </div>
    <div id="bq">
        <div class="bqtoo">
            <a href="http://www.12377.cn/" target="_blank" rel="nofollow">
                <img src="http://r.imgccoo.cn/index65/bqico02.gif" width="100" height="40" border="0" />
            </a>
            <a href="http://www.bj.cyberpolice.cn/index.htm" target="_blank" rel="nofollow">
                <img src="http://r.imgccoo.cn/post/images/too/too07.gif" width="100" height="40" border="0" />
            </a>
            <a href="http://www.miibeian.gov.cn" target="_blank" rel="nofollow">
                <img src="http://r.imgccoo.cn/post/images/too/too08.gif" width="100" height="40" border="0" />
            </a>
        </div>
        <div class="bqwz012">电话：{$footerData.compTel}
            {if $footerData.compFax}
            传真：{$footerData.compFax}
            {/if}
            邮箱：{$footerData.compEmail}<br />
            地址：{$footerData.compAddress} 邮编：{$footerData.compPost} <br />
            Copyright &copy; 2004-{$footerData.year}&nbsp;{$footerData.compName} 版权所有&nbsp;&nbsp;技术支持：<a href="http://www.ccoo.cn/" target="_blank">城市联盟</a><br />
            <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow">
                {if $footerData.compba}
                {$footerData.compba}
                {else /}
                京ICP备09021873号
                {/if}
            </a>&nbsp;<a href="http://www.ccoo.cn/icp.html" target="_blank" rel="nofollow">电信与信息服务业务经营许可证090779号</a>&nbsp;<a href="http://www.ccoo.cn/hr.html" target="_blank" rel="nofollow">人力资源服务许可证110114718441号</a></div>


    </div>
</div>


