<div class="leibie">
    <div class="xhuiyuanleft01">

        <div class="zhaogongzuo">
            <p><a href="/post/zhaopin/" target="_blank">找工作</a></p>
            <a href="/post/zhaopin/" target="_blank">查看招聘信息</a><a href="/post/fabu/?ch=qz" target="_blank">发布求职简历</a> </div>
        <div class="zhaorencai">
            <p><a href="/post/qiuzhi/" target="_blank">招人才</a></p>
            <a href="/post/qiuzhi/" target="_blank">查看求职人才</a><a href="/post/fabu/?ch=zp" target="_blank">发布招聘信息</a> </div>
    </div>

    <div class="xleibieright">
        <ul>

            <li><a href="/post/zhaopins/list-26938-0-0-0-0-0-1.html">销售/导购/业务</a></li>

            <li><a href="/post/zhaopins/list-44944-0-0-0-0-0-1.html">文员/后勤/人事</a></li>

            <li><a href="/post/zhaopins/list-119749-0-0-0-0-0-1.html">客服</a></li>

            <li><a href="/post/zhaopins/list-32940-0-0-0-0-0-1.html">会计/出纳/收银</a></li>

            <li><a href="/post/zhaopins/list-18732-0-0-0-0-0-1.html">家政/保洁/保安</a></li>

            <li><a href="/post/zhaopins/list-67495-0-0-0-0-0-1.html">餐饮/服务员/厨师</a></li>

            <li><a href="/post/zhaopins/list-18728-0-0-0-0-0-1.html">教育培训</a></li>

            <li><a href="/post/zhaopins/list-67497-0-0-0-0-0-1.html">运输/司机/快递</a></li>

            <li><a href="/post/zhaopins/list-8130-0-0-0-0-0-1.html">计算机/平面</a></li>

            <li><a href="/post/zhaopins/list-23937-0-0-0-0-0-1.html">医疗护士/保健</a></li>

            <li><a href="/post/zhaopins/list-8127-0-0-0-0-0-1.html">美容/美发/健身</a></li>

            <li><a href="/post/zhaopins/list-18730-0-0-0-0-0-1.html">汽车/维修</a></li>

            <li><a href="/post/zhaopins/list-8128-0-0-0-0-0-1.html">市场公关/会展</a></li>

            <li><a href="/post/zhaopins/list-8126-0-0-0-0-0-1.html">酒店/宾馆/旅游</a></li>

            <li><a href="/post/zhaopins/list-8129-0-0-0-0-0-1.html">建筑/房产</a></li>

            <li><a href="/post/zhaopins/list-119944-0-0-0-0-0-1.html">摄影/化妆</a></li>

            <li><a href="/post/zhaopins/list-38942-0-0-0-0-0-1.html">普工/技工/生产</a></li>

            <li><a href="/post/zhaopins/list-41943-0-0-0-0-0-1.html">其他职位</a></li>

            <li id="syzw" class="gengduo"><span><a href="javascript:;" onClick="ShowWin('查看所有职位','/post/job/job_type.asp?tid=1',950,550);return false;">&laquo;查看所有职位</a></span></li>
        </ul>
    </div>
</div>