<div class="daohangcone">
    <div class="searchmar">
        <form action="/post/zhaopin/" method="get" name="myform" id="myform" onSubmit="return ChkTKey();">
            <input type="text" name="key" class="searchmarinpt" id="sskey" value="请输入关键词"  maxlength="20" onFocus="NullTJs(1);" onBlur="NullTJs(2);" />
            <input type="submit" value="搜职位" class="soso" onClick="submitForm(0)" />
            <input type="submit" value="搜简历" class="soso" onClick="submitForm(1)" />
        </form>
    </div>
</div>