<link rel="stylesheet" type="text/css" href="http://r.imgccoo.cn/post/images/biaodan.css">
<link rel="stylesheet" type="text/css" href="http://r.imgccoo.cn/post/images/fabu_w.css">
<link rel="stylesheet" type="text/css" href="http://r.imgccoo.cn/post/images/fenlei_w.css">
<!--分类发布专用js-->
<script type="text/javascript" src="http://r.imgccoo.cn/js/jquery.js"></script>
<script type="text/javascript" src="http://r.imgccoo.cn/post/images/js/form/form.js" charset="gb2312"></script>
<script type="text/javascript" src="http://r.imgccoo.cn/post/images/js/form/regex.js" charset="gb2312"></script>
<script type="text/javascript" src="http://r.imgccoo.cn/post/images/js/cookie.js" charset="gb2312"></script>
<script type="text/javascript" src="http://r.imgccoo.cn/post/images/js/xheditor-1.2.1.min.js" charset="utf-8"></script>
<link href="http://r.imgccoo.cn/post/js/xcConfirm/xcConfirm.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="http://r.imgccoo.cn/post/js/xcConfirm/xcConfirm.js" charset="gb2312"></script>
<script type="text/javascript" src="http://r.imgccoo.cn/post/images/js/laydate/laydate.js" charset="gb2312"></script>
<link type="text/css" rel="stylesheet" href="http://r.imgccoo.cn/post/images/js/laydate/need/laydate.css">
<link type="text/css" rel="stylesheet" href="http://r.imgccoo.cn/post/images/js/laydate/skins/default/laydate.css" id="LayDateSkin">
<script type="text/javascript" src="http://r.imgccoo.cn/post/js/dialog/lhgdialog.js?skin=discuz" charset="utf-8"></script>
<script type="text/javascript" src="http://r.imgccoo.cn/post/js/dialog/fun.js"></script>
<script>
    if (/Android|webOS|iPhone|iPod|BlackBerry|Windows CE|Windows Phone/i.test(navigator.userAgent)) {
        if (window.location.href.indexOf("?pc") < 0) {
            window.location.href = "{$codeWinUrl}/post/fabu/";
        }
    }
</script>
<link id="xheCSS_default" rel="stylesheet" type="text/css" href="http://r.imgccoo.cn/post/images/js/xheditor_skin/default/ui.css">
<style type="text/css">@import url('http://r.imgccoo.cn/post/images/js/form/themes/ArrowSolidBox/style/style.css');</style>